/*------------------------------------*\
#FONTS
\*------------------------------------*/

/* Fonts are loaded via Google fonts */

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    --color-front: #28333A;
    --color-red: #EB4848;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Work Sans", Helvetica, arial, sans-serif;
    color: var(--color-front);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "zero" 1;
    transition-property: color, background-color;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


::-moz-selection {
    background: var(--color-red);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--color-red);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 30px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 24px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 1rem;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-front);
    outline-color: var(--color-front);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-front);
}

a:hover,
a:focus {
    color: var(--color-front);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

  .c-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0.25rem .5rem 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 4.6875rem;
      background: linear-gradient(var(--color-red) 50%, white 50%);
      height: 25rem;
      width: 25rem;
      border-color: var(--color-front);
      border: solid .0625rem;
      gap: 2.5rem;
      margin-left: auto;
        margin-right: auto;
    }

    .c-card:hover {
      box-shadow: 0 1rem 2rem 0 rgba(90,87,87,0.8);
    }

    .c-card:focus {
      background-color: blue;
    }
  
    .c-content {
      display: block;
      padding-bottom: 2.5rem;
    }

    .c-popup .c-content p {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0 0 0.5rem;
    }

    .c-content__title{
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
    }
  
    .c-Type {
      font-size: 1.5rem;
      font-weight: bold;
      display: inline;
    }

    .c-popup .c-content .c-Type {
        font-weight: 400;
    }

  
    .c-ImageContainer {
      display: flex;
      border-radius: 3.75rem;
      height: 9.375rem;
      width: 22.125rem;
      background-color: #EB4848;
      border: solid .1875rem white;
    }
  
    .c-cover {
      object-fit: contain;
      height: 9.375rem;
      width: 22.125rem;
    }

    .c-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1.25rem;
        margin: auto;
        padding: 1.25rem;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .c-ImageContainer {
      display: flex;
      border-radius: 3.75rem;
      height: 6.375rem;
      width: 17.125rem;
      background-color: #EB4848;
      border: solid .1875rem white;
      margin-top: 2.5rem;
    }

    .c-cover {
      object-fit: contain;
      height: 6.375rem;
      width: 17.125rem;
    }
    


body {
    background-image: url("/assets/Background.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

.c-box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 2.1875rem;
    border: .125rem solid #fff;
    border-radius: 1.25rem/3.125rem;
    background-clip: padding-box;
    text-align: center;
  }
  

  .c-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .c-overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .c-popup {
    margin: 4.375rem auto;
    padding: 1.25rem;
    background: #fff;
    border-radius: .3125rem;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 4.6875rem;
    background: linear-gradient(#EB4848 30%, white 70%);
    height: 45rem;
    width: 45rem;
    border-color: #28333A;
    border: solid .0625rem;
    gap: 2.5rem;
  }
  
  .c-popup .c-ImageContainer {
    display: flex;
    flex-direction: column;
    border-radius: 3.75rem;
    height: 15rem; 
    width: 28rem;
    background-color: #EB4848;
    border: solid .1875rem white;
   
  }

  .c-popup .c-cover {
    object-fit: contain;
    height: 12.5rem;
    width: 25rem;
  }

  .c-popup .c-close {
    position: absolute;
    top: 1.25rem;
    right: 1.875rem;
    transition: all 200ms;
    font-size: 1.875rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .c-popup .c-close:hover {
    color: white;
  }
  .c-popup .c-content {
    max-height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.25rem;
    margin-top: 1.5rem;
    padding: 1.25rem;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

.u-muted {
    opacity: var(--muted-opacity);
}


/*------------------------------------*\
#MEDIA
\*------------------------------------*/

@media only screen and (max-width: 1500px) {
        .c-cards {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 1.25rem;
            margin: auto;
            padding: 1.25rem;
            min-width: 100%;
        }

        .c-popup {
    margin: 3.375rem auto;
    padding: 1.25rem;
    background: #fff;
    border-radius: .3125rem;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 4.6875rem;
    background: linear-gradient(#EB4848 30%, white 70%);
    height: 45rem;
    width: 40rem;
    border-color: #28333A;
    border: solid .0625rem;
    gap: 2.5rem;
  }

  .c-popup .c-ImageContainer {
    display: flex;
    flex-direction: column;
    border-radius: 3.75rem;
    height: 12rem; 
    width: 24rem;
    background-color: #EB4848;
    border: solid .1875rem white;
   
  }

  .c-popup .c-cover {
    object-fit: contain;
    height: 12rem;
    width: 24rem;
  }
    }

    @media only screen and (max-width: 1300px) {
        .c-cards {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 1.25rem;
            margin: auto;
            padding: 1.25rem;
            min-width: 100%;
        }

        .c-popup {
    margin: 3.375rem auto;
    padding: 1.25rem;
    background: #fff;
    border-radius: .3125rem;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 4.6875rem;
    background: linear-gradient(#EB4848 30%, white 70%);
    height: 45rem;
    width: 40rem;
    border-color: #28333A;
    border: solid .0625rem;
    gap: 2.5rem;
  }

  .c-popup .c-ImageContainer {
    display: flex;
    flex-direction: column;
    border-radius: 3.75rem;
    height: 12.5rem; 
    width: 25rem;
    background-color: #EB4848;
    border: solid .1875rem white;
   
  }

  .c-popup .c-cover {
    object-fit: contain;
    height: 12.5rem;
    width: 25rem;
  }
    }

    @media only screen and (max-width: 875px) {
        .c-cards {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 1.25rem;
            margin: auto;
            padding: 1.25rem;
            min-width: 100%;
            align-items: center;
            justify-content: center;
        }

        .c-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 0.25rem .5rem 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 4.6875rem;
        background: linear-gradient(var(--color-red) 50%, white 50%);
        height: 20rem;
        width: 20rem;
        border-color: var(--color-front);
        border: solid .0625rem;
        gap: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .c-ImageContainer {
      display: flex;
      border-radius: 3.75rem;
      height: 6.375rem;
      width: 17.125rem;
      background-color: #EB4848;
      border: solid .1875rem white;
      margin-top: 2.5rem;
    }

    .c-cover {
      object-fit: contain;
      height: 6.375rem;
      width: 17.125rem;
    }

    .c-popup {
    margin: 2.375rem auto;
    padding: 1.25rem;
    background: #fff;
    border-radius: .3125rem;
    width: 20%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 4.6875rem;
    background: linear-gradient(#EB4848 30%, white 70%);
    height: 35rem;
    width: 30rem;
    border-color: #28333A;
    border: solid .0625rem;
    gap: 2.5rem;
  }

  .c-popup .c-ImageContainer {
    display: flex;
    flex-direction: column;
    border-radius: 3.75rem;
    height: 7.5rem; 
    width: 18rem;
    background-color: #EB4848;
    border: solid .1875rem white;
    margin-bottom: 0;
   
  }

  .c-popup .c-cover {
    object-fit: contain;
    height: 7.5rem;
    width: 18rem;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px;
}

.c-content__title{
        margin-bottom: 0;
        font-size: 0.5rem;
        font-weight: 600;
        line-height: 1rem;
    }

    .c-popup .c-content {
      margin-top: 0;
      padding-top: 0;
    }


    }


/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
